################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestMauiStepper/obj
/.vs/TestMauiStepper
/TestMauiStepper/bin/
/TestMauiStepper/TestMauiStepper.csproj.user
